.sidebar{
    position: fixed;
}
.sidebar li{
    margin-bottom: 2em;
    padding-left: 60px;
}
/* .sidebar li:hover span{
    display: inline-block;
    transform: translate(5px);
} */
.sidebar svg{
    margin-right: 5px;
}